/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: #fff;
}

header .logo img {
    cursor: pointer;
}

h1 {
    font-size: 2.5rem;
}

/* Album Grid */
.album-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

.album-card {
    width: 200px;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-align: center;
    transition: transform 0.2s;
}

.album-card:hover {
    transform: scale(1.05);
}

.album-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.album-card h3 {
    font-size: 1.2rem;
    color: #333;
}

/* Track Manager */
.track-manager {
    margin: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    cursor: pointer;
    padding: 5px;
    font-size: 1.1rem;
}

li:hover {
    background-color: #f0f0f0;
}

/* Audio Player */
.audio-player {
    text-align: center;
    margin-top: 20px;
}

.player-controls {
    margin-bottom: 10px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

.progress-container {
    margin-top: 10px;
    font-size: 1.1rem;
}

#seek-bar {
    width: 100%;
    margin-top: 5px;
}

#current-time, #duration {
    font-weight: bold;
}

/* Playlist Manager */
.playlist-manager {
    text-align: center;
    margin: 20px;
}

#playlists {
    margin-top: 10px;
}

#new-playlist {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#new-playlist:hover {
    background-color: #444;
}
