/* General Page Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #060c21; /* Dark background color */
    color: white; /* Light text for contrast */
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    position: relative;
}

header h1 {
    margin: 10px 0;
    font-size: 2rem;
}

header p {
    margin: 5px 0;
    font-size: 1.2rem;
    color: #aaa;
}

/* Logo Styling */
.logo img {
    max-width: 200px; /* Limit the logo size */
    height: auto;
    cursor: pointer; /* Indicates that the logo is clickable */
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.1); /* Slightly enlarge logo on hover */
}

/* Album Grid and Track Management */
#album-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.album-card {
    background-color: #1a2332;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.album-card:hover {
    transform: scale(1.05); /* Slight scale on hover */
}

.album-card img {
    max-width: 100%;
    border-radius: 10px;
}

.album-card h3 {
    font-size: 1.1rem;
    color: #ddd;
}

/* Track Management */
#track-list {
    list-style-type: none;
    padding: 0;
}

#track-list li {
    padding: 8px;
    background-color: #1a2332;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#track-list li:hover {
    background-color: #33445c;
}

/* Player Styling */
.player {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

button {
    background-color: #1a2332;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #33445c;
}

#seek-bar {
    width: 200px;
    background-color: #1a2332;
    border: none;
    height: 10px;
    cursor: pointer;
}

#seek-bar::-webkit-slider-runnable-track {
    background: #33445c;
}

#seek-bar::-webkit-slider-thumb {
    background: #1a2332;
    border-radius: 10px;
}

#seek-bar:focus {
    outline: none;
}

#current-time, #duration {
    color: #aaa;
    font-size: 1rem;
}

/* Playlist Section */
.playlist-manager, .track-manager {
    margin-top: 30px;
    padding: 0 20px;
}

h2 {
    font-size: 1.5rem;
    color: #ddd;
    text-align: center;
    margin-bottom: 20px;
}

button#new-playlist {
    padding: 10px 20px;
    background-color: #33445c;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

button#new-playlist:hover {
    background-color: #1a2332;
}
